.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: darkslateblue; */
    justify-content: space-evenly;
  }
  
  .selectCity {
    width: "100%";
    maxwidth: 360;
    background-color: hexToRgb("#EAEAEA");
    position: "relative";
    overflow: "auto";
    maxheight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  caption {
    padding-top: 10px;
    padding-left: 15px;
    height: 20px;
    font: Roboto;
    font-size: 13px;
    color: #5f5f79;
    color: black;
    display: flex;
    align-content: center;
  }
  